.chatheader{
    height: 212px;
    padding: 50px 96px;
    position: relative;
}

.ArrowBack{
    font-size: 28px;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.blackbox{
    height: 100%;
    background-color: black;
}