.chatheader{
    height: 212px;
    display: flex;
    position: relative;
}

.ArrowBack{
    font-size: 28px;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.blackbox{
    height: 50%;
    width: 40%;
    margin: auto;
    background-color: black;
}

.blackbox img{
    width: 100%;
    height: 100%;
}